{
    "client": {
        "host": "${MONGO_HOST:-your-mongo-server.com}",
        "port": "${MONGO_PORT:-27017}",
        "username": "${MONGO_USERNAME:-}",
        "password": "${MONGO_PASSWORD:-}",
        "authSource": "${MONGO_AUTH_SOURCE:-admin}"
    },
    "database_name": "main",
    "documents_collection_name": "documents",
    "annotated_documents_collection_name": "annotated_documents",
    "clusters_collection_name": "clusters"
}
