{{annotation_doc.patched_text|e}} — <a href="{{annotation_doc.url}}">{{annotation_doc.channel_title}}</a>
{% if external_link %}
Ймовірне першоджерело: <a href="{{external_link.url}}">{{external_link.host}}</a>
{% endif %}
👁️{{views}}
{% for group, sources in groups %}
{{-emojis[group]-}}{%- for source in sources %}<a href="{{source.url}}">{{source.channel_title}}</a>{% if not loop.last %} • {% endif %}{% endfor %}
{% endfor %}
⏱<a href="{{first_doc.url}}">{{first_doc.channel_title}}</a>, {{first_doc.pub_time_dt.strftime("%H:%M")}}
